@font-face {
    font-family: "SEGA";
    src: url("./SEGA.TTF") format("truetype");
}
.card{
    width: 20%;
}
.titleRobo{
    font-family: "SEGA", sans-serif;
    color: rgba(51, 202, 240, 0.6);
    letter-spacing: 4px;
}